body {
  
  text-align: center;
 

}
#imgdance{
  width:300px;
  border:dashed 5px black;
}
h1 {
  color: blue;
  border-style: dotted;
  border-color: black;
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}

p{
}
